<div class="main">
  <div class="header"></div>
  <div class="input-group">
    <input type="text" class="form-control" #term 
      (keyup)="search(term.value)" 
      placeholder="Search comic books on Marvel" 
      autofocus />
    <span class="input-group-btn">
      <button class="btn btn-primary" type="button">Search</button>
    </span>
  </div>

  <br>
  <ul class="list-unstyled">
    <li class="list-group-item"
      [ngSwitch]="switch_exp"
      [@container]="switch_exp"
      (@container.done)="fadeContent(i)"
      (click)="disableScroll()"
      *ngFor="let item of items | async; index as i">

      <div class="media" *ngSwitchDefault
        (click)="stateChange(i)">
        <div class="image-container d-flex align-self-center mr-3">
          <img class="thumb-nail" src="{{item.thumbnail}}" alt="Thumbnail Image">
          <!--<img src="{{item.thumbnail.path}}.{{item.thumbnail.extension}}" alt="Thumbnail Image">-->
        </div>

        <div class="media-body" [@enterTrigger]="triggerState">
          <div class="btn btn-link">#{{i + 1}}</div>
          <h5>{{item.title}}</h5>
          <h6 class="btn btn-link">View Details</h6>
        </div>
        <div>
          <i class="fa fa-chevron-right fa-lg"></i>
        </div>
      </div>
      <!-- detail -->
      <div class="modal-custom" *ngSwitchCase="i" [@enterTrigger]="triggerState">
        <h6 class="text-center" (click)="hideDetail()" (click)="disableScroll()">
          <i class="fa fa-chevron-left"></i>
          Back
        </h6>
        <div class="background">
          <img src="{{item.thumbnail}}" class="large-view" alt="Thumbnail Image">
        </div>
        <div class="modal-description">
          <h2 class="text-center">{{item.title}}</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta doloribus culpa necessitatibus atque animi alias, officiis deserunt fugit quis deleniti, voluptatum quo mollitia reprehenderit eum quos non corrupti quasi architecto?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita pariatur iste vero, earum nihil, a, deserunt dolor, amet eligendi at voluptate accusamus vel esse similique tempore aspernatur iusto commodi molestiae.
          </p>
          <h6 (click)="hideDetail()" (click)="disableScroll()">
            <i class="fa fa-times"></i>
            Close
          </h6>
        </div>
      </div>



    </li>
  </ul>
</div>

<footer class="footer text-center">
  <a href="https://github.com/LiviuLvu/comic-books">View source code on Github</a>
</footer>
