/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';

body {
  padding-bottom: 40px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #000;
}

.header {
  margin-bottom: 16px;
  height: 206px;
  background-image: url("./assets/header.jpg");
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  max-width: 640px;
  margin: auto;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.image-container {
  width: 100px;
  height: 100px;
  margin: 6px;
  overflow: hidden;
  background-color: black;
}

img.thumb-nail {
  width: 100%;
  margin: auto;
}

.large-view {
  max-width: 100%;
  margin: auto;
}

li.list-group-item,
a.list-group-item,
a.list-group-item,
button.list-group-item,
button.list-group-item {
  overflow: hidden;
  display: block;
}

li.list-group-item:hover,
a.list-group-item:focus,
a.list-group-item:hover,
button.list-group-item:focus,
button.list-group-item:hover {
  color: #555;
  text-decoration: none;
  background-color: #f5f5f5;
  overflow: hidden;
  opacity: 100;
  transition: opacity 200ms, ease-in;
}

.btn.btn-link {
  padding: 0;
}