/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';

body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #eee;
}

*:not(.input-group-addon) {
  margin-bottom: 4px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.thumb-nail {
  width: 100px;
  height: 100%;
  margin-right: 10px;
}