/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';

body {
  padding-bottom: 40px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #000;
}

.header {
  margin-bottom: 16px;
  height: 206px;
  background-image: url("./assets/header.jpg");
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  max-width: 700px;
  margin: auto;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.image-container {
  width: 100px;
  height: 100px;
  margin: 6px 0px;
  overflow: hidden;
  background-color: black;
}

.image-container img {
  object-fit: cover;
  width: 100%;
  margin: auto;
}

.large-view {
  display: block;
  max-width: 100%;
  margin: auto;
}

li.list-group-item,
a.list-group-item,
a.list-group-item,
button.list-group-item,
button.list-group-item {
  overflow: hidden;
  display: block;
  position: unset;
}

li.list-group-item:hover,
a.list-group-item:focus,
a.list-group-item:hover,
button.list-group-item:focus,
button.list-group-item:hover {
  text-decoration: none;
  background-color: #f5f5f5;
  overflow: hidden;
  opacity: 100;
  transition: opacity 200ms, ease-in;
}

li.list-group-item .modal-custom {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  padding-top: 14px;
  overflow-y: auto;
  top: 0;
  left: 0;
  background-color: #fff;
}

.list-group-item p {
  margin-top: 0;
  margin-bottom: 0;
  color: #555;
}

@media screen and (min-width: 740px) {
  .modal-description {
    max-width: 700px;
    margin: auto;
  }
}

.modal-custom > *:not(:first-child) {
  margin-bottom: 20px;
}

.modal-description {
  padding-left: 20px;
  padding-right: 20px;
}

.btn.btn-link {
  padding: 0;
}

.no-scroll {
  overflow: hidden;
}

.media {
  align-items: center;
}

.background {
  background-color: lightgray;
}

.btn-link:hover {
  color: skyblue;
  text-decoration: none;
  cursor: pointer;
}

// spinner from http://tobiasahlin.com/spinkit/

.spinner {
  margin: 30px auto 30px;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #eee;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

// end of spinner